numpy==1.22.0
opencv-python==4.5.5.62
Pillow==7.0.0
PyYAML==6.0
scipy==1.10.1
tensorboard==2.14.0
torch==1.13.1+cu117
tqdm==4.66.1
imageio
plyfile
piq
dearpygui
git+https://github.com/Po-Hsun-Su/pytorch-ssim.git
--no-index
-f https://dl.fbaipublicfiles.com/pytorch3d/packaging/wheels/py310_cu117_pyt1131/download.html
pytorch3d
